
@{
    ViewData["Title"] = "Welcome";
}

@model Lab18_Coffee_Shop.Models.RegisterUser

<h1>Welcome</h1>

<p> Hello @Model.FirstName @Model.LastName welcome to Grand Circus Coffee House!</p>

@Html.ActionLink("My Account", "UserInfo", "CoffeeHouse", Model)

