@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Grand Circus Coffee House</h1>
    <div class="registrationButton">
        <h3><a style="color: blue; font-weight: bolder;" asp-area="" asp-controller="CoffeeHouse" asp-action="Registration">Register Here</a></h3>
    </div>
</div>

<style>
    body {
        background-image: url('../../images/bc-analog-banner-1.jpg');
        background-size: cover;
    }    
</style>